
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><a href="/Customer/ViewCustomers">View Customers</a></h2>
<h2><a href="/Customer/AddCustomers">Add Customers</a></h2>

